@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
    font-family: "Epilogue";
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    width: 90%;
    margin-top: 26px;
}